.testFour{
  display: flex;
  flex-direction: row;
}

  .parent{
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: solid;
  }

  .grandParent{
    float: left;
  } 



  .test{
    border-right: solid;
    width: 20%;
    text-align: center;
  }

  .testTwo{
    width: 90%;
  }

  .testThree{
    width: 25%;
    text-align: center;
    justify-content: center;
  }
  .testEA{
    width: 20%;
    text-align: center;
  }
  .testThreeA{
    width: 25%;
    text-align: center;
    justify-content: center;
    top: 50%;
    position: relative;
  }

  .floatLeftTest{
   /* background-color: aqua; */
   width: 60%;
  }


  .floatRightTest{
    /* float: left; */
  }

  /* .test{
    display: flex;
    float: right;
    flex-direction: row;
    color: aqua;
    justify-content: right;
  } */

  /* .grandparent{
      display: inline-flex   
  } */