.flexbox{
  display: flex;
  flex-direction: row;
}

  .tableInfo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-bottom: 15px;
    padding-right: 2px;
  }

  .tableHead{
    width: 18%;
    text-align: center;
  }

  .button{
    position: relative;
    left: 3%;
    text-align: center;
  }

  .userInputTable{
    width: 90%;
    border:solid;
    border-color: black;
    flex-grow: 1;
  }

  .StateData{
    width: 21%;
    text-align: center;
    justify-content: center;
  }

  .userInputTableRow{
    width: 25%;
    text-align: center;
    justify-content: center;
    top: 50%;
    position: relative;
  }

  .userInputParnetContainer{
   width: 60%;
  }

  .poitonOutputTable{
    border: solid;
    align-items: flex-start;
    height: max-content;
  }

  .userOutputTd{
    text-align: center;
  }

  .potionImage{
    width: 33%;
  }
