/* .rareity, .affinity, .startAscenion, .EndAscension {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-style: solid;
    text-align: center;
  } */
  
  /* On mouse-over, add a deeper shadow */
  /* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
   */
  /* Add some padding inside the card container */
  /* .container {
    padding: 2px 16px;
  } */

  .header{
      /* border: solid; */
      /* text-align: center;
      overflow: hidden;
      width: 100%; */
  }

  /* .UserInputButton{
    width: 100%;
    justify-content: center;
  } */

  .parent{
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: solid;
  }

  .grandParent{
    float: left;
  } 



  .test{
    border-right: solid;
    width: 20%;
    text-align: center;
  }

  .testTwo{
    width: 50%;
  }

  .testThree{
    width: 25%;
    text-align: center;
    justify-content: center;
  }
  .testEA{
    width: 20%;
    text-align: center;
  }
  .testThreeA{
    width: 25%;
    text-align: center;
    justify-content: center;
    top: 50%;
    position: relative;
  }

  /* .test{
    display: flex;
    float: right;
    flex-direction: row;
    color: aqua;
    justify-content: right;
  } */

  /* .grandparent{
      display: inline-flex   
  } */